<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="utf-8">

        <title>{ifset title}{include title|striptags} | {/ifset}The Cookery Bible</title>
    </head>

    <body id="page">

    </body>
</html>
